nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
  }
}

.leftContainer {
  /* background-color: red; */
  width: 60vw;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div span {
  margin: 10px;
}
span {
  color: var(--border-color);
  font-size: 20px;
  font-weight: 500;
  @media screen and (max-width: 750px) {
    width: 50%;
    margin-right: 0px;
  }
}
a {
  text-decoration: none;
}

nav img {
  width: 20%;
  height: auto;
  margin: 15px;
  @media screen and (max-width: 750px) {
    width: 50%;
    margin-left: -50px;
  }
}
