.formContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 45px 24px var(--border-color);
  border-radius: 5px;
}

.inputContainer {
  /* background-color: red;
  border: 3px solid green; */
  margin-bottom: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
}

.label {
  color: var(--border-color);
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.inputValid {
  font-size: 17px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 3px solid rgb(14, 222, 94);
  align-self: flex-start;
}

.inputInvalid {
  font-size: 17px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 3px solid red;
  align-self: flex-start;
}

.errorSpan {
  height: 15px;
  font-size: 15px;
  color: red;
}

.button {
  align-self: center;
  width: 80px;
  height: 35px;
  /* margin: 0px 20px 0px 20px; */
  border-radius: 20px;
  border: 3px solid var(--border-color);
  background-color: var(--button-bg-color);
  font-family: monospace;
  cursor: pointer;
}

.guestButton {
  align-self: center;
  margin-top: 5vh;
  width: auto;
  height: auto;
  /* margin: 0px 20px 0px 20px; */
  border-radius: 20px;
  border: 3px solid var(--border-color);
  background-color: var(--button-bg-color);
  font-family: monospace;
  cursor: pointer;
}

.button:hover {
  border: 3px solid var(--button-bg-color);
  background-color: var(--border-color);
  color: white;
}
