.container {
  border: 2px solid #67e606;
  border-radius: 20px;
  font-family: monospace;
  display: grid;
  place-items: center;
}

.img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
