@import "../../global.css";

.container {
  /* width: 80%;
  height: 80%; */
  border: 3px solid var(--border-color);
  border-radius: 20px;
  font-family: monospace;
  /* display: grid;
  place-items: center; */
  background-color: rgba(0, 0, 0, 0.3);
}
.container:hover {
  -webkit-box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
}

.img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
}

.button {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  border-radius: 100%;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 0px 0px 26px rgba(255, 255, 255, 1);
  bottom: 295px;
  left: 260px;
  cursor: pointer;
}

.cardInfo {
  width: 100%;
  position: relative;
  left: 10px;
  padding: 3px 30px 3px 30px;
}
