.container {
  border: 2px solid #67e606;
  border-radius: 20px;
  font-family: monospace;
  /* display: grid;
  place-items: center; */
  background-color: rgba(0, 0, 0, 0.3);
}
.container:hover {
  -webkit-box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 1);
}

.img {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.button {
  position: relative;
  color: white;
  background-color: rgb(255, 47, 47);
  bottom: 305px;
  left: 278px;
  cursor: pointer;
}

.cardInfo {
  width: 100%;
  position: relative;
  left: 10px;
  padding: 3px 30px 3px 30px;
}
