.container {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  padding: 30px;
  border-radius: 30px;
  color: rgb(1, 0, 37);
  text-shadow: -2px 1px 3px var(--button-bg-color);
  /* background-color: rgba(0, 188, 110, 0.335); */
  background-color: var(--border-color);
  /* box-shadow: 0px 0px 45px 24px rgba(0, 188, 110, 0.335); */
  box-shadow: 0px 0px 45px 24px var(--border-color);

  @media screen and (max-width: 560px) {
    width: 80%;
    padding: 5px;
  }
}

p {
  font-size: 20px;
}
