.container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 750px) {
    flex-direction: column;
    justify-content: center;
  }
}

nav img {
  width: 20%;
  height: auto;
  margin: 15px;
  @media screen and (max-width: 750px) {
    width: 50%;
  }
}
